<head>
    <meta charset="utf-8">
    <title>BANDO Chat</title>
    <meta name="description" content="Ứng dụng chat trên bản đồ">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="icons/favico.ico">
</head>

<template name="mainLayout">
    {{> Template.dynamic template=top}}
    {{> Template.dynamic template=main}}
</template>