<template name="navbar">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper green">
                <a class="brand-logo center">BANDO CHAT</a>
                <a id="side-nav-button" href="#" data-activates="side-nav"><i class="mdi-navigation-menu"></i></a>
                <ul class="side-nav" id="side-nav">
                    <li>
                        <div class="switch">
                            <label style="color: black">
                                Bật thông báo
                                <input id="notification_lever" type="checkbox" {{isNotification}}>
                                <span class="lever"></span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="switch">
                            <label style="color: black">
                                Chia sẻ vị trí chính xác
                                <input id="accurate_location_share" type="checkbox" {{currentUser.isShareAccurateLocationCheckBox}}>
                                <span class="lever"></span>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>